name: dart_stream
description: A collection util can process list by some operation like flatMap distinct shuffle and reduce. Taking ispiration from java stream
homepage: https://github.com/VendaCino/dart_stream
repository: https://github.com/VendaCino/dart_stream

version: 0.0.4

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter


